################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/impressionist.sln
*.exe
*.ilk
*.pdb
*.opensdf
*.sdf
